html {
  width: 100%;
  height: 100%;

}

body {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;


}

.head_bar {
  position: relative;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  background-color: black;
}

.head_bar ul {
  position: relative;
  list-style: none;
  float: right;
  margin-top: 10px;
}

.head_bar ul li {
  position: relative;
  float: left;
  margin-right: 30px;
  margin-top: 0px;
  color: white;
}

.row {
  position: relative;
  width: 100.8%;
  height: 50px;
  background-color: turquoise;
}

.row .col-md-3 img {
  transition: transform .5s ease;

}

.row .col-md-3 :hover img {
  transform: scale(1.1);
}

.contriner {

  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.contriner .col-md-5#serch {
  position: relative;
  margin-top: 4px;
}

.contriner .col-md-5#serch button {
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 3px;
}

.col-md-4 .social li.so {
  position: relative;
  list-style: none;
  padding-left: 20px;
  float: left;
}

.col-md-4 .social {
  margin-left: 100px;
}

.col-md-4 .social li.market_u {
  position: relative;
  list-style: none;
  padding-left: 50px;
  float: left;
}

.list ul.list {
  position: relative;
  margin-top: 20px;
  list-style: none;
  margin-left: 40%;

}

section {
  position: relative;
  margin-top: 100px;
  font-size: 50px;
}

.product .sidebar {
  position: absolute;
  float: left;
  list-style: none;
  margin-left: -350px;
  padding-right: 20px;
  margin-top: -45px;
}

.product .sidebar a {
  margin-top: 10px;
  height: 100px;
  width: 200px;
  margin-left: 10px;
}

.product .sidebar h3 {
  margin-left: 10px;
}

.sidebar {
  position: absolute;
  float: left;
  list-style: none;
  margin-left: -350px;
  padding-right: 20px;
}

.sidebar a img {
  margin: 20px;
  border: solid 0.5px black;
  width: 200px;
  height: 130px;
}

.sidebar img {
  transition: transform .5s ease;
}

.sidebar :hover img {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px gray;
}

.col-md-3 .card {
  border: solid 0.5px bisque;
  width: 100%;
  margin: 20px;
  padding: 10px;
  background-color: lightcyan;
  overflow: hidden;
}

.col-md-3 .card {
  transition: transform .5s ease;
}

.col-md-3 :hover .card {
  transform: scale(1.05);
  box-shadow: 2px 2px 2px gray;
}

.product {
  position: relative;
  width: 1500px;
  height: 1000px;
  margin-left: 350px;
  margin-right: auto;

}

.numpage {
  position: relative;
  display: block;
  margin-top: 17%;
  margin-left: 50%;
  margin-right: auto;

}

.numpage a {
  margin-left: 2px;
}

footer {
  position: relative;
  background: #333;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  color: #fff;
}