body{
    background-color:  rgba(219, 219, 219, 0.05);
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #dce0e4;
    margin-bottom: 2%;
    box-shadow: 0px 10px 30px -10px #aaa;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    height: 40px;
    margin-top: 40px;
    margin-left: 270px;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
a #button{
 
    border:none;
    border-radius:1.5rem;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    background: #32a153;
    color: #fff;
}
.container{
    margin-top: 200px;
    width: 600px;
    
}
.container .row{
    margin-left: 50px;
}