.maimMenu {
    position: relative;
    margin-left: 200px;
    height: auto;
    padding: 50px;
    margin: 50px;
}
.input {
    padding: 50px;
    border: 0.5px solid black;
    width: 700px;
    
    
}
input {
    width: 50px;
}
.head_bar {
    position: relative;
    height: 40px;
    padding-top: 5px;
    background-color: black;
}

.row-home {
    height: 50px;
    background-color: turquoise;
}
.photo {
    padding: 50px;
    border: 0.5px solid black;
    width: 100px;
    height: 100px;

}


.col-sm-10 {
    margin-top: 10px;
    margin-left: 400px;
    position: absolute;
}
.col-sm-10  a {
    margin-left: 10px;
    position: absolute;
}
.col-md-5{
    margin-left: 50px;
}
.photo-img{
    margin-left: 120px;
    padding: 50px;
    border: 0.5px solid black;
    width: 600px;
    height: 800px;
    transition: transform .5s ease;
}
.photo-img img{
    width: 500px;
    height: 450px;
    
}
  .photo-img :hover {
    transform: scale(1.4);
    box-shadow: 2px 2px 2px gray;
}

.form-group {
    padding-left: 50px;
    margin-top: 20px;
}
.lable{
    margin-top: -200px;
    position: relative;
    margin-left: 150px;
}
.Note{
    margin-left: 150px;
}
select{
    text-align: center;
    height: 30px;
}
.detailsum{
    margin-left: 250px;
  }
  .detailsum ul{
    list-style: none;
    float: left;
  }
  .detailsum ul li{
    margin: 10px;
    margin-left: 50px;
  }
  .detailsum ul li span{
    float: right;
    margin-left: 50px;
  }